# -*- coding: utf-8 -*-

from os import path

DEBUG_SQL          = True
DEBUG              = True
TEMPLATE_DEBUG     = DEBUG

PROJECT_ROOT       = path.dirname(path.realpath(__file__))
MEDIA_URL          = '/media/'
STATIC_URL         = '/static/'

DATABASES = {
	'default': {
		'ENGINE'  : 'django.db.backends.mysql',
		'NAME'    : 'dbname',
		'USER'    : 'dbuser',
		'PASSWORD': 'dbpassword',
	}
}
